
*.xml
*.iml
*.pyc
requirements.txt
projects/algos/algo1.log
projects/algos/Dockerfile
projects/models/... 2
projects/.DS_Store
projects/algos/Dockerfile~
projects/data/config.py
projects/website/debug.log
